[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule ".themes/solarized"]
	path = .themes/solarized
	url = https://github.com/altercation/solarized.git
