[submodule ".powerline"]
	path = .powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
